@charset "UTF-8";

// 下為基本樣式(屬性固定)
$btn-state-color:        $white !default;
$btn-disabled-bg:        $muted !default;
$btn-effect:             'background .35s, color .5s' !default;
$btn-display:            inline-block !default;
$btn-pd:                 $gutter*0.8 $gutter*2 !default;
$btn-pd-sm:              $gutter/3 $gutter/2 !default;
$btn-border-radius:      nth($border-radius,1) !default;
$btn-font-size:          18px !default;
$btn-font-size-sm:       14px !default;
$btn-line-height:        1.01 !default;
$btn-bg:                 $brand-primary !default;
$btn-color:              $btn-state-color !default;
$btn-hover-bg:           lighten($btn-bg, 6%) !default;
$btn-hover-color:        $btn-state-color !default;
$btn-link-color:         $link-color !default;

// 下為可自定屬性及樣式
$btn-styles: () !default;
$btn-hover-styles: () !default;


// button
// ----------------------------------------------

button { border: none; }

.btn {
    // 下為預設樣式
    @if $btn-display       { display: $btn-display; }
    @if $btn-pd            { padding: $btn-pd; }
    @if $btn-border-radius { border-radius: $btn-border-radius; }
    @if $btn-font-size     { font-size: $btn-font-size; }
    @if $btn-line-height   { line-height: $btn-line-height; }
    @if $btn-bg            { background: $btn-bg; }
    @if $btn-color         { color: $btn-color; }
    @if $btn-effect        { @include transition($btn-effect); }

    // 下為追加樣式-自定屬性與樣式
    @each $attribute, $value in $btn-styles {
        #{$attribute}: #{$value};
    }

    &, &:active, &.active {
        &:focus {
            @include tab-focus;
        }
    }
    &:active, &.active {
        outline: 0;
    }
    &:hover, &:active, &.active,
    &:focus, &.focus {
        @if $btn-hover-bg     { background: $btn-hover-bg }
        @if $btn-hover-color  { color: $btn-hover-color }
        @each $attribute, $value in $btn-hover-styles {
            #{$attribute}: #{$value};
        }
    }
    &.disabled, &[disabled], fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: .65;
        @if $btn-disabled-bg { background-color: $btn-disabled-bg; }
    }
}

.btn-link {
    @if $btn-display       { display: inline; }
    @if $btn-line-height   { line-height: $line-height; }
    @if $btn-bg            { background: none; }
    @if $btn-color         { color: $link-color; }
    @if $btn-effect        { @include transition($link-transition); }
    &, &:active, &.active {
        &:focus {outline: 0;}
    }
    &:hover, &:active, &.active,
    &:focus, &.focus {
        @if $btn-hover-bg     { background: none; }
        @if $btn-hover-color  { color: $link-hover-color }
    }
    &.disabled, &[disabled], fieldset[disabled] & {
        opacity: 1;
        @if $btn-disabled-bg { color: $btn-disabled-bg; background: none; }
    }
}

.btn-sm {
    @if $btn-pd            { padding: $btn-pd-sm; }
    @if $btn-font-size     { font-size: $btn-font-size-sm; }
}

@if $states {

    .btn-white {
        background: $white;
        color: $brand-secondary;
        border: 1px solid $brand-secondary;

        &:hover, &:active {
            background: lighten($brand-secondary,10);
            border-color: lighten($brand-secondary,15);
            color: $white;
        }
    }

//     %btn-states {
//         color: $white;
//     }

//     $selector: ();
//     @each $type, $color in $state-type {
//         $selector: $selector, unquote(".btn-#{$type}");

//         .btn-#{$type} {
//             background-color: $color;
//             border-color: darken($color, 5%);

//             &:hover, &:active {
//                 background-color: darken($color, 10%);
//                 @extend %btn-states;
//             }
//         }
//     }
//     #{$selector} {
//         @extend %btn-states;
//     }
}
