@charset "UTF-8";
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit;
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*      basic elements - reboot
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, figure, blockquote, pre {
  margin-top: 0; }

p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

html, body {
  text-align: center;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent; }

*,
*::before,
*::after {
  box-sizing: inherit; }

@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@-webkit-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
body {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, "微軟正黑體", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #fff;
  background: #2A2B2E;
  -webkit-font-smoothing: antialiased; }

[tabindex="-1"]:focus {
  outline: none !important; }

a {
  color: #fff;
  text-decoration: none;
  blur: expression(this.onFocus=this.blur());
  -webkit-transition: color 0.35s, background 0.3s;
  transition: color 0.35s, background 0.3s; }
  a:hover, a:active, a.active {
    color: #A3C93F; }

img {
  vertical-align: middle;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 2.8125em; }

h2 {
  font-size: 2.0625em; }

h3 {
  font-size: 1.625em; }

h4 {
  font-size: 1.5625em; }

h5 {
  font-size: 1.3125em; }

h6 {
  font-size: 1.0625em; }

strong {
  font-size: 1.0625em;
  color: #A3C93F; }

small {
  font-size: 80%;
  font-weight: normal; }

mark {
  background-color: #fff7d8;
  padding: .2em; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #F1F1F1; }

p {
  margin-bottom: 0; }
  p + p {
    margin-top: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #9E9E9E; }

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

pre {
  margin-top: 0;
  margin-bottom: 1rem; }

button,
[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

#header, .float-l {
  float: left; }

.float-r, #main {
  float: right; }

.wrap::after, #header::after, #main::after, #footer::after, #wrapper::after, .foot-nav::after, .clearfix::after {
  display: table;
  clear: both; }
  .wrap::after, #header::after, #main::after, #footer::after, #wrapper::after, .foot-nav::after, .clearfix::after, .overlay::after, #main::before {
    content: ''; }

.full {
  width: 100%;
  max-width: 100%; }

.logo, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

#banner ul {
  list-style: none; }

/*      layout
-----------------------------------------------------------------------*/
.wrap, #wrapper {
  max-width: 1400px;
  margin: 0 48px; }
  @media (min-width: 87.5em) {
    .wrap, #wrapper {
      margin: 0 auto; } }
  @media (max-width: 48em) {
    .wrap, #wrapper {
      margin: 0; } }

@media (max-width: 48em) {
  .wrap, #header, #main, #footer, #wrapper {
    padding-left: 16px;
    padding-right: 16px; } }

#header, #main, #footer {
  position: relative; }

#wrapper {
  min-height: 100%;
  padding-bottom: 330px; }
  @media (max-width: 61.1875em) {
    #wrapper {
      padding-bottom: 60px;
      min-height: auto; } }

#header {
  z-index: 4; }
  @media (min-width: 75em) {
    #header {
      width: 20%; } }
  @media (min-width: 61.25em) and (max-width: 74.9375em) {
    #header {
      width: 28%; } }

.logo {
  cursor: pointer;
  cursor: hand;
  z-index: 10;
  background: url(../images/index/logo.gif) center no-repeat;
  width: 235px;
  height: 81px;
  margin-top: 36px; }

#footer {
  background: #232326;
  z-index: 3;
  min-height: 270px;
  margin-top: -270px;
  border-top: 3px solid #20494D; }
  @media (max-width: 61.1875em) {
    #footer {
      margin-top: 0; } }
  #footer .wrap {
    position: relative; }

.foot-nav h2 {
  font-size: 1.6875em;
  letter-spacing: 2px; }
  @media (max-width: 61.1875em) {
    .foot-nav h2 {
      padding-left: 0; } }
.foot-nav small {
  display: block;
  font-size: 0.74074em;
  letter-spacing: 1px; }
@media (max-width: 61.1875em) {
  .foot-nav nav {
    padding-right: 0; } }
@media (max-width: 30em) {
  .foot-nav nav {
    padding-left: 0; } }
.foot-nav a {
  display: inline-block;
  width: 19%;
  letter-spacing: 1px; }
  @media (max-width: 61.1875em) {
    .foot-nav a {
      text-align: center;
      width: 62px; } }
  @media (max-width: 30em) {
    .foot-nav a {
      text-align: left; } }
@media (max-width: 61.1875em) {
  .foot-nav {
    margin-bottom: 18px; } }

.foot-contact {
  font-style: normal; }
  @media (min-width: 61.25em) {
    .foot-contact {
      position: absolute;
      top: -345px;
      left: 0;
      width: 243px;
      padding-top: 38px;
      background: url(../images/index/icon-bird.gif) right 0 no-repeat; }
      .foot-contact p:first-child {
        padding-top: 16px;
        border-top: 1px solid #444;
        width: 97%; } }
  @media (min-width: 61.25em) and (max-width: 74.9375em) {
    .foot-contact {
      top: -260px; } }
  .foot-contact em {
    font-style: normal; }
  @media (max-width: 61.1875em) {
    .foot-contact {
      clear: both; } }
  @media (max-width: 48em) {
    .foot-contact {
      padding-left: 0; } }

.copyright {
  padding-top: 25px;
  font-size: 0.75em;
  color: #ccc;
  border-top: 1px solid #333333; }
  @media (min-width: 61.25em) {
    .copyright {
      margin-top: 55px; } }
  @media (max-width: 61.1875em) {
    .copyright {
      margin-top: 30px; } }

#menu {
  z-index: 20; }
  @media (min-width: 61.25em) {
    #menu {
      text-align: left;
      margin-top: 75px;
      width: 125px; } }
  #menu a {
    font-size: 1.0625em;
    letter-spacing: 3px;
    display: block; }

@media (max-width: 61.1875em) {
  #menu {
    z-index: 999;
    right: 0;
    left: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: transform .3s, opacity 1s;
    transition: transform .3s, opacity 1s; }
    #menu a {
      font-size: 1.5625em; }
    .overlay #menu {
      visibility: visible;
      opacity: 1; } }

.overlay {
  overflow: hidden; }
  .overlay::after {
    display: block;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-animation: swing 0.5s;
    animation: swing 0.5s; }
@-webkit-keyframes swing {
  0% {
    -ms-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity: 0; }
  100% {
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1; } }
@keyframes swing {
  0% {
    -ms-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity: 0; }
  100% {
    -ms-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1; } }
.mobile-trigger, .overlay .mobile-close {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font-size: 2.625em;
  color: #fff; }

.mobile-trigger {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  top: 40px; }
  @media (max-width: 61.1875em) {
    .mobile-trigger {
      display: block; } }
  .mobile-trigger:hover, .mobile-trigger:active {
    background: #A3C93F; }
  .overlay .mobile-trigger {
    opacity: 0; }
  @media (max-width: 22.5em) {
    .mobile-trigger {
      right: 1%;
      top: 1.2%;
      font-size: 2em; } }

.mobile-close {
  display: none; }
  .overlay .mobile-close {
    display: block;
    position: absolute;
    right: 2%;
    top: -95px; }
    .overlay .mobile-close:hover, .overlay .mobile-close:active {
      color: #FFD63F; }
    @media (max-width: 22.5em) {
      .overlay .mobile-close {
        right: 0;
        top: -125px; } }

.overlay #header {
  z-index: 999; }

#banner {
  position: relative; }
  #banner img {
    width: 100%; }
  #banner h3 {
    letter-spacing: 2px; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.clear {
  clear: both; }

.hidden, #menu a.home {
  display: none; }

.circle {
  border-radius: 50%; }

.img-center {
  display: block;
  margin: auto; }

.m-x-auto {
  margin-right: auto;
  margin-left: auto; }

.m-a-0 {
  margin: 0; }

.m-t-0 {
  margin-top: 0; }

.m-r-0 {
  margin-right: 0; }

.m-b-0 {
  margin-bottom: 0; }

.m-l-0 {
  margin-left: 0; }

.m-x-0 {
  margin-right: 0;
  margin-left: 0; }

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.m-a-2 {
  margin: 2px; }

.m-t-2 {
  margin-top: 2px; }

.m-r-2 {
  margin-right: 2px; }

.m-b-2 {
  margin-bottom: 2px; }

.m-l-2 {
  margin-left: 2px; }

.m-x-2 {
  margin-right: 2px;
  margin-left: 2px; }

.m-y-2 {
  margin-top: 2px;
  margin-bottom: 2px; }

.m-a-4 {
  margin: 4px; }

.m-t-4 {
  margin-top: 4px; }

.m-r-4 {
  margin-right: 4px; }

.m-b-4 {
  margin-bottom: 4px; }

.m-l-4 {
  margin-left: 4px; }

.m-x-4 {
  margin-right: 4px;
  margin-left: 4px; }

.m-y-4 {
  margin-top: 4px;
  margin-bottom: 4px; }

.m-a-8 {
  margin: 8px; }

.m-t-8, .foot-contact p + p {
  margin-top: 8px; }

.m-r-8, .foot-contact em {
  margin-right: 8px; }

.m-b-8 {
  margin-bottom: 8px; }

.m-l-8 {
  margin-left: 8px; }

.m-x-8 {
  margin-right: 8px;
  margin-left: 8px; }

.m-y-8 {
  margin-top: 8px;
  margin-bottom: 8px; }

.m-a-12 {
  margin: 12px; }

.m-t-12, .foot-nav small {
  margin-top: 12px; }

.m-r-12 {
  margin-right: 12px; }

.m-b-12, .foot-nav a {
  margin-bottom: 12px; }

.m-l-12 {
  margin-left: 12px; }

.m-x-12 {
  margin-right: 12px;
  margin-left: 12px; }

.m-y-12 {
  margin-top: 12px;
  margin-bottom: 12px; }

.m-a-16 {
  margin: 16px; }

.m-t-16, #banner h3 {
  margin-top: 16px; }

.m-r-16 {
  margin-right: 16px; }

.m-b-16 {
  margin-bottom: 16px; }

.m-l-16 {
  margin-left: 16px; }

.m-x-16 {
  margin-right: 16px;
  margin-left: 16px; }

.m-y-16 {
  margin-top: 16px;
  margin-bottom: 16px; }

.m-a-24 {
  margin: 24px; }

.m-t-24 {
  margin-top: 24px; }

.m-r-24 {
  margin-right: 24px; }

.m-b-24 {
  margin-bottom: 24px; }

.m-l-24 {
  margin-left: 24px; }

.m-x-24 {
  margin-right: 24px;
  margin-left: 24px; }

.m-y-24, #menu a {
  margin-top: 24px;
  margin-bottom: 24px; }

.m-a-32 {
  margin: 32px; }

.m-t-32 {
  margin-top: 32px; }

.m-r-32 {
  margin-right: 32px; }

.m-b-32 {
  margin-bottom: 32px; }

.m-l-32 {
  margin-left: 32px; }

.m-x-32 {
  margin-right: 32px;
  margin-left: 32px; }

.m-y-32 {
  margin-top: 32px;
  margin-bottom: 32px; }

.m-a-48 {
  margin: 48px; }

.m-t-48 {
  margin-top: 48px; }

.m-r-48 {
  margin-right: 48px; }

.m-b-48 {
  margin-bottom: 48px; }

.m-l-48 {
  margin-left: 48px; }

.m-x-48 {
  margin-right: 48px;
  margin-left: 48px; }

.m-y-48 {
  margin-top: 48px;
  margin-bottom: 48px; }

.m-a-64 {
  margin: 64px; }

.m-t-64 {
  margin-top: 64px; }

.m-r-64 {
  margin-right: 64px; }

.m-b-64 {
  margin-bottom: 64px; }

.m-l-64 {
  margin-left: 64px; }

.m-x-64 {
  margin-right: 64px;
  margin-left: 64px; }

.m-y-64 {
  margin-top: 64px;
  margin-bottom: 64px; }

.p-a-0 {
  padding: 0; }

.p-t-0 {
  padding-top: 0; }

.p-r-0 {
  padding-right: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-l-0, .foot-contact {
  padding-left: 0; }

.p-x-0 {
  padding-right: 0;
  padding-left: 0; }

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.p-a-2 {
  padding: 2px; }

.p-t-2 {
  padding-top: 2px; }

.p-r-2 {
  padding-right: 2px; }

.p-b-2 {
  padding-bottom: 2px; }

.p-l-2 {
  padding-left: 2px; }

.p-x-2 {
  padding-right: 2px;
  padding-left: 2px; }

.p-y-2 {
  padding-top: 2px;
  padding-bottom: 2px; }

.p-a-4 {
  padding: 4px; }

.p-t-4 {
  padding-top: 4px; }

.p-r-4 {
  padding-right: 4px; }

.p-b-4 {
  padding-bottom: 4px; }

.p-l-4 {
  padding-left: 4px; }

.p-x-4 {
  padding-right: 4px;
  padding-left: 4px; }

.p-y-4 {
  padding-top: 4px;
  padding-bottom: 4px; }

.p-a-8 {
  padding: 8px; }

.p-t-8 {
  padding-top: 8px; }

.p-r-8 {
  padding-right: 8px; }

.p-b-8 {
  padding-bottom: 8px; }

.p-l-8 {
  padding-left: 8px; }

.p-x-8 {
  padding-right: 8px;
  padding-left: 8px; }

.p-y-8 {
  padding-top: 8px;
  padding-bottom: 8px; }

.p-a-12 {
  padding: 12px; }

.p-t-12 {
  padding-top: 12px; }

.p-r-12 {
  padding-right: 12px; }

.p-b-12 {
  padding-bottom: 12px; }

.p-l-12 {
  padding-left: 12px; }

.p-x-12 {
  padding-right: 12px;
  padding-left: 12px; }

.p-y-12 {
  padding-top: 12px;
  padding-bottom: 12px; }

.p-a-16 {
  padding: 16px; }

.p-t-16 {
  padding-top: 16px; }

.p-r-16 {
  padding-right: 16px; }

.p-b-16 {
  padding-bottom: 16px; }

.p-l-16 {
  padding-left: 16px; }

.p-x-16 {
  padding-right: 16px;
  padding-left: 16px; }

.p-y-16 {
  padding-top: 16px;
  padding-bottom: 16px; }

.p-a-24 {
  padding: 24px; }

.p-t-24 {
  padding-top: 24px; }

.p-r-24 {
  padding-right: 24px; }

.p-b-24 {
  padding-bottom: 24px; }

.p-l-24 {
  padding-left: 24px; }

.p-x-24 {
  padding-right: 24px;
  padding-left: 24px; }

.p-y-24 {
  padding-top: 24px;
  padding-bottom: 24px; }

.p-a-32 {
  padding: 32px; }

.p-t-32 {
  padding-top: 32px; }

.p-r-32 {
  padding-right: 32px; }

.p-b-32 {
  padding-bottom: 32px; }

.p-l-32 {
  padding-left: 32px; }

.p-x-32 {
  padding-right: 32px;
  padding-left: 32px; }

.p-y-32, #footer {
  padding-top: 32px;
  padding-bottom: 32px; }

.p-a-48 {
  padding: 48px; }

.p-t-48 {
  padding-top: 48px; }

.p-r-48 {
  padding-right: 48px; }

.p-b-48 {
  padding-bottom: 48px; }

.p-l-48 {
  padding-left: 48px; }

.p-x-48 {
  padding-right: 48px;
  padding-left: 48px; }

.p-y-48 {
  padding-top: 48px;
  padding-bottom: 48px; }

.p-a-64 {
  padding: 64px; }

.p-t-64 {
  padding-top: 64px; }

.p-r-64 {
  padding-right: 64px; }

.p-b-64 {
  padding-bottom: 64px; }

.p-l-64 {
  padding-left: 64px; }

.p-x-64 {
  padding-right: 64px;
  padding-left: 64px; }

.p-y-64 {
  padding-top: 64px;
  padding-bottom: 64px; }

.underline {
  border-bottom: 1px solid #79d8d5;
  padding-bottom: 0.66667rem; }

.text-left, .foot-nav, .foot-contact, #main {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.font-sp {
  font-family: "Fenix", serif; }

.font-tiny, .foot-contact {
  font-size: 0.8125rem; }

.font-sm {
  font-size: 0.875rem; }

.font-md {
  font-size: 0.9375rem; }

.font-lg {
  font-size: 1.25rem; }

.font-xl {
  font-size: 1.5625rem; }

.font-xxl {
  font-size: 2.25rem; }

.font-xxxl {
  font-size: 3rem; }

.font-jumbo {
  font-size: 4.125rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.text-white {
  color: #fff; }

.bg-white {
  background: #fff; }

.text-primary {
  color: #95ba34; }

.bg-primary {
  background: #A3C93F; }

.hover-primary:hover,
.hover-primary:active {
  background: #adcf53; }

.hover-text-primary:hover,
.hover-text-primary:active {
  color: #A3C93F; }

.text-secondary {
  color: #35b7b2; }

.bg-secondary {
  background: #3EC7C2; }

.hover-secondary:hover,
.hover-secondary:active {
  background: #52cdc8; }

.hover-text-secondary:hover,
.hover-text-secondary:active {
  color: #3EC7C2; }

.text-muted {
  color: #919191; }

.bg-muted {
  background: #9E9E9E; }

.hover-muted:hover,
.hover-muted:active {
  background: #ababab; }

.hover-text-muted:hover,
.hover-text-muted:active {
  color: #9E9E9E; }

.text-success {
  color: #87af20; }

.bg-success {
  background: #98C524; }

.hover-success:hover,
.hover-success:active {
  background: #a8d82a; }

.hover-text-success:hover,
.hover-text-success:active {
  color: #98C524; }

.text-info {
  color: #35b7b2; }

.bg-info {
  background: #3EC7C2; }

.hover-info:hover,
.hover-info:active {
  background: #52cdc8; }

.hover-text-info:hover,
.hover-text-info:active {
  color: #3EC7C2; }

.text-warning {
  color: #ffd125; }

.bg-warning {
  background: #FFD63F; }

.hover-warning:hover,
.hover-warning:active {
  background: #ffdb59; }

.hover-text-warning:hover,
.hover-text-warning:active {
  color: #FFD63F; }

.text-danger {
  color: #e98f9b; }

.bg-danger {
  background: #EDA4AE; }

.hover-danger:hover,
.hover-danger:active {
  background: #f1b9c1; }

.hover-text-danger:hover,
.hover-text-danger:active {
  color: #EDA4AE; }

@media (max-width: 61.1875em) {
  .mobile-hide {
    display: none;
    visibility: hidden; } }

@media (min-width: 75em) {
  #main {
    width: 76%; } }
@media (min-width: 61.25em) and (max-width: 74.9375em) {
  #main {
    width: 70%; } }
#main::before, #main::after {
  display: block;
  position: absolute; }
  @media (max-width: 48em) {
    #main::before, #main::after {
      background-size: cover; } }
  @media (max-width: 40em) {
    #main::before, #main::after {
      display: none; } }
#main::before {
  top: 0;
  background: url(../images/index/bannerBg.gif) 0 0 no-repeat;
  width: 66px;
  height: 410px; }
  @media (min-width: 48.0625em) {
    #main::before {
      left: -66px; } }
#main::after {
  top: 23px;
  background: url(../images/index/bannerBg2.gif) 0 0 no-repeat;
  width: 35px;
  height: 449px; }
  @media (min-width: 48.0625em) {
    #main::after {
      right: -35px; } }
  @media (max-width: 48em) {
    #main::after {
      right: -16px;
      height: 330px; } }

@media (max-width: 61.1875em) {
  #header, #main {
    width: 100%; } }
