@using System.Data
@{
    ViewBag.Title = "證照專區";
    ViewBag.BodyClass = "Certificate";
    ViewBag.nav = "n2";
}

@section banner {
    <div id="banner"><div class="wrap">
        <h1 class="h1"><span>@ViewBag.Title</span></h1>
    </div></div>
}

<div id="content"><div class="wrap">

    <div class="editor">
        文字編輯器
    </div>@* editor *@
    
</div></div>