@{
    ViewBag.Title = "聯絡我們";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.nav = "n5";
}
@section scripts {
	@* <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=E4805d16520de693a3fe707cdc962045"></script>
	<script type="text/javascript">
		//百度地图API功能
		//加载第一张地图
		var map1 = new BMap.Map("map1");            // 创建Map实例
	    var point1 = new BMap.Point(116.404, 39.915);  
	    map1.centerAndZoom(point1,15);               
	    map1.enableScrollWheelZoom();                  //启用滚轮放大缩小
		//加载第二张地图
		var map2 = new BMap.Map("map2");            // 创建Map实例
	    var point2 = new BMap.Point(121.350, 25.003);  
	    map2.centerAndZoom(point2,15);                 
	    map2.enableScrollWheelZoom();                  //启用滚轮放大缩小
	</script> *@
}

@section banner {
	<div id="banner"><div class="wrap">
		<h1 class="h1"><span>@ViewBag.Title</span></h1>
	</div></div>
}

<div id="content"><div class="wrap">

	<div class="contact-list">

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<iframe class="img-thumbnail" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.9004011009356!2d121.34855421500566!3d25.003500083986697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681e770d2686ab%3A0xd569637d0acfc24f!2zMzMz5qGD5ZyS5biC6b6c5bGx5Y2A5oyv6IiI6LevNTbomZ8!5e0!3m2!1szh-TW!2stw!4v1483591220239" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">台灣總公司</h2>
				<dl>
					<dt>諮詢專線</dt>
					<dd>03-329-8999</dd>
					<dt>傳真</dt>
					<dd>03-319-3729</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:service@greenorganic.com.tw">service@greenorganic.com.tw</a></dd>
					<dt>地址</dt>
					<dd>
						桃園市龜山區振興路56號
						<a href="https://goo.gl/maps/mEDrzdmf6HK2" target="new" class="more"><i class="icon-search"></i> 地圖</a>
					</dd>
				</dl>
			</div>
		</article>

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<a href="https://goo.gl/maps/Apjhm5UzdLH2" target="new" class="img-thumbnail"><img src="~/content/images/ContactUs/branch2.jpg"></a>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外據點－柬埔寨</h2>
				<dl>
					<dt>諮詢專線</dt>
					<dd>+855 78585333</dd>
					<dt>聯絡人</dt>
					<dd>Ms. Lyka Nhan</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:lykanhan@gmail.com">lykanhan@gmail.com</a></dd>
					<dt>地址</dt>
					<dd>
						#29j street be tong porprork khang tbong district sang Kat karkab khan posenchey Phnom Penh Cambodia
						<a href="https://goo.gl/maps/Apjhm5UzdLH2" target="new" class="more"><i class="icon-search"></i> 地圖</a>
					</dd>
				</dl>
			</div>
		</article>

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<a class="img-thumbnail" href="http://j.map.baidu.com/OLBpI" target="new"><img src="~/content/images/ContactUs/branch3.jpg"></a>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外據點－雲南辦事處</h2>
				<dl>
					<dt>諮詢專線</dt>
					<dd>18688815237</dd>
					<dt>聯絡人</dt>
					<dd>黃立昌 副總經理</dd>
					<dt>地址</dt>
					<dd>
						雲南省 昆明市 石林彝族自治縣 鹿林街道 石林縣昌樂路1號 中央金座中心A棟813室
						<a href="https://goo.gl/maps/mEDrzdmf6HK2" target="new" class="more"><i class="icon-search"></i> 地圖</a>
					</dd>
				</dl>
			</div>
		</article>

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<a href="http://j.map.baidu.com/AEBpI" target="new" class="img-thumbnail"><img src="~/content/images/ContactUs/branch4.jpg"></a>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外據點－東莞辦事處</h2>
				<dl>
					<dt>諮詢專線</dt>
					<dd>+86-769-89386300</dd>
					<dt>聯絡人</dt>
					<dd>李家歡</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:brian@legroup-prc.com">brian@legroup-prc.com</a></dd>
					<dt>地址</dt>
					<dd>
						523625 東莞市樟木頭鎮南方汽車博覽中心二樓商務寫字樓 F-205號
						<a href="https://goo.gl/maps/mEDrzdmf6HK2" target="new" class="more"><i class="icon-search"></i> 地圖</a>
					</dd>
				</dl>
			</div>
		</article>

		@* <article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<span class="img-thumbnail"><img src="~/content/images/ContactUs/branch1.jpg" alt=""></span>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外據點－上海蘇州</h2>
				<h3 class="h3">青境農業料技有限公司</h3>
				<p>青境農場勤以專業的農業技術教育為宗旨，提升地方新興、農民知識教育為最終目的。精緻200畝的農場中，展示無農藥培植技術，肥培、機具操作及農作物栽培管理，以達”農業教育”的高效能展現。我們銷售的商品，是”標準技術的運用”，進而傳承、複製，為消費市場展現優質、良性的農業文化。由於農業生產逐步轉型朝休閒農場發展，在實務上秉持「以顧客滿意為導向」、「以優質服務為中心」的企業經營理念，進而提升整體競爭力。如何提供高品質的服務朝向永續發展邁進，是我們始終努力追求的目標。</p> *@
				@* <dl>
					<dt>聯絡人</dt>
					<dd>上海分公司總經理兼業務總監 石益林</dd>
					<dt>手機</dt>
					<dd>13816628837</dd>
					<dt>諮詢專線</dt>
					<dd>021-60409020</dd>
					<dt>傳真</dt>
					<dd>021-60409022</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:jimshi@sinib.cn">jimshi@sinib.cn</a></dd>
					<dt>地址</dt>
					<dd>
						上海市閔行區七莘路1839號財富108廣場南樓1012室
						<a href="https://goo.gl/maps/ihK6TUUwqRS2" target="new" class="more"><i class="icon-search"></i> 地圖</a>
					</dd>
				</dl> *@
			@* </div>
		</article>

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<span class="img-thumbnail"><img src="~/content/images/ContactUs/branch2.jpg" alt=""></span>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外據點－印尼雅加達</h2>
				<p>資料待補</p>
			</div>
		</article> *@
		
	</div>
	
</div></div>