@{
    ViewBag.Title = "联系我们";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.nav = "n5";
}
@section scripts {
	@* <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=E4805d16520de693a3fe707cdc962045"></script>
	<script type="text/javascript">
		//百度地图API功能
		//加载第一张地图
		var map1 = new BMap.Map("map1");            // 创建Map实例
	    var point1 = new BMap.Point(116.404, 39.915);  
	    map1.centerAndZoom(point1,15);               
	    map1.enableScrollWheelZoom();                  //启用滚轮放大缩小
		//加载第二张地图
		var map2 = new BMap.Map("map2");            // 创建Map实例
	    var point2 = new BMap.Point(121.350, 25.003);  
	    map2.centerAndZoom(point2,15);                 
	    map2.enableScrollWheelZoom();                  //启用滚轮放大缩小
	</script> *@
}

@section banner {
	<div id="banner"><div class="wrap">
		<h1 class="h1"><span>@ViewBag.Title</span></h1>
	</div></div>
}

<div id="content"><div class="wrap">

	<div class="contact-list">

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<iframe class="img-thumbnail" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.9004011009356!2d121.34855421500566!3d25.003500083986697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34681e770d2686ab%3A0xd569637d0acfc24f!2zMzMz5qGD5ZyS5biC6b6c5bGx5Y2A5oyv6IiI6LevNTbomZ8!5e0!3m2!1szh-TW!2stw!4v1483591220239" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">台湾总公司</h2>
				<dl>
					<dt>谘询专线</dt>
					<dd>+886 3-329-8999</dd>
					<dt>传真</dt>
					<dd>+886 3-319-3729</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:service@greenorganic.com.tw">service@greenorganic.com.tw</a></dd>
					<dt>地址</dt>
					<dd>
						桃园市龟山区振兴路56号
						<a href="https://goo.gl/maps/mEDrzdmf6HK2" target="new" class="more"><i class="icon-search"></i> 地图</a>
					</dd>
				</dl>
			</div>
		</article>

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<a href="https://goo.gl/maps/Apjhm5UzdLH2" target="new" class="img-thumbnail"><img src="~/content/images/ContactUs/branch2.jpg"></a>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外据点－柬埔寨</h2>
				<dl>
					<dt>谘询专线</dt>
					<dd>+855 78585333</dd>
					<dt>联络人</dt>
					<dd>Ms. Lyka Nhan</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:lykanhan@gmail.com">lykanhan@gmail.com</a></dd>
					<dt>地址</dt>
					<dd>
						#29j street be tong porprork khang tbong district sang Kat karkab khan posenchey Phnom Penh Cambodia
						<a href="https://goo.gl/maps/Apjhm5UzdLH2" target="new" class="more"><i class="icon-search"></i> 地图</a>
					</dd>
				</dl>
			</div>
		</article>

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<a class="img-thumbnail" href="http://j.map.baidu.com/OLBpI" target="new"><img src="~/content/images/ContactUs/branch3.jpg"></a>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外据点－云南办事处</h2>
				<dl>
					<dt>谘询专线</dt>
					<dd>18688815237</dd>
					<dt>联络人</dt>
					<dd>黄立昌 副总经理</dd>
					<dt>地址</dt>
					<dd>
						云南省 昆明市 石林彝族自治县 鹿林街道 石林县昌乐路1号 中央金座中心A栋813室
						<a href="http://j.map.baidu.com/OLBpI" target="new" class="more"><i class="icon-search"></i> 地图</a>
					</dd>
				</dl>
			</div>
		</article>

		<article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<a href="http://j.map.baidu.com/AEBpI" target="new" class="img-thumbnail"><img src="~/content/images/ContactUs/branch4.jpg"></a>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外据点－东莞办事处</h2>
				<dl>
					<dt>谘询专线</dt>
					<dd>+86-769-89386300</dd>
					<dt>联络人</dt>
					<dd>李家欢</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:brian@legroup-prc.com">brian@legroup-prc.com</a></dd>
					<dt>地址</dt>
					<dd>
						523625 东莞市樟木头镇南方汽车博览中心二楼商务写字楼 F-205号
						<a href="http://j.map.baidu.com/AEBpI" target="new" class="more"><i class="icon-search"></i> 地图</a>
					</dd>
				</dl>
			</div>
		</article>

		@* <article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<span class="img-thumbnail"><img src="~/content/images/ContactUs/branch1.jpg" alt=""></span>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外据点－上海苏州</h2>
				<h3 class="h3">青境农业料技有限公司</h3>
				<p>青境农场勤以专业的农业技术教育为宗旨，提升地方新兴丶农民知识教育为最终目的。精致200亩的农场中，展示无农药培植技术，肥培丶机具操作及农作物栽培管理，以达”农业教育”的高效能展现。我们销售的商品，是”标准技术的运用”，进而传承丶复制，为消费市场展现优质丶良性的农业文化。由於农业生产逐步转型朝休闲农场发展，在实务上秉持「以顾客满意为导向」丶「以优质服务为中心」的企业经营理念，进而提升整体竞争力。如何提供高品质的服务朝向永续发展迈进，是我们始终努力追求的目标。</p> *@
				@* <dl>
					<dt>联络人</dt>
					<dd>上海分公司总经理兼业务总监 石益林</dd>
					<dt>手机</dt>
					<dd>13816628837</dd>
					<dt>谘询专线</dt>
					<dd>021-60409020</dd>
					<dt>传真</dt>
					<dd>021-60409022</dd>
					<dt>E-mail</dt>
					<dd><a href="mailto:jimshi@sinib.cn">jimshi@sinib.cn</a></dd>
					<dt>地址</dt>
					<dd>
						上海市闵行区七莘路1839号财富108广场南楼1012室
						<a href="https://goo.gl/maps/ihK6TUUwqRS2" target="new" class="more"><i class="icon-search"></i> 地图</a>
					</dd>
				</dl> *@
			@* </div>
		</article> *@

		@* <article class="article row">
			<div class="col-12 col-sm-5 col-md-4 col-lg-3">
				<span class="img-thumbnail"><img src="~/content/images/ContactUs/branch2.jpg" alt=""></span>
			</div>
			<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
				<h2 class="h2">海外据点－印尼雅加达</h2>
				<p>资料待补</p>
			</div>
		</article> *@
		
	</div>
	
</div></div>