@{
    ViewBag.Title = "WELCOME";
    ViewBag.IsFirstPage = true;
}

@section css {
    
}
@section scripts {
    <script src="js/jquery.scrollify.min.js"></script>
    <script>
        $(document).ready(function () {
            $.scrollify({
                section: ".panel"
            });
        });
    </script>
}

<div id="banner" class="panel">

    <video preload="auto" poster="images/banner-static.jpg" autoplay loop>
        <source src="~/Content/images/index/banner.mp4" type="video/mp4">
    </video>

    <a href="" class="scroll">
        Scroll Down
    </a>

</div>