@{
    ViewBag.Title = "新聞資訊";
    ViewBag.BodyClass = "News";
    ViewBag.nav = "n2";
}

@section banner {
	<div id="banner"><div class="wrap">
		<h1 class="h1"><span>@ViewBag.Title</span></h1>
	</div></div>
}

<div id="content"><div class="wrap">
	
	<div class="news-list">

		<article class="article">
			<div class="row">
				<figure class="col-12 col-sm-5 col-md-4 col-lg-3">
					<a href="~/Home/NewsData" class="img-thumbnail"><img src="http://lorempixel.com/530/335/" alt=""></a>
				</figure>
				<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
					<h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
					<p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
					<p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息v</p>
					<p><a href="~/Home/NewsData" class="more">Read more</a></p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="row">
				<figure class="col-12 col-sm-5 col-md-4 col-lg-3">
					<a href="~/Home/NewsData" class="img-thumbnail"><img src="http://lorempixel.com/530/335/" alt=""></a>
				</figure>
				<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
					<h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
					<p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
					<p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息v</p>
					<p><a href="~/Home/NewsData" class="more">Read more</a></p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="row">
				<figure class="col-12 col-sm-5 col-md-4 col-lg-3">
					<a href="~/Home/NewsData" class="img-thumbnail"><img src="http://lorempixel.com/530/335/" alt=""></a>
				</figure>
				<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
					<h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
					<p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
					<p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息v</p>
					<p><a href="~/Home/NewsData" class="more">Read more</a></p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="row">
				<figure class="col-12 col-sm-5 col-md-4 col-lg-3">
					<a href="~/Home/NewsData" class="img-thumbnail"><img src="http://lorempixel.com/530/335/" alt=""></a>
				</figure>
				<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
					<h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
					<p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
					<p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息v</p>
					<p><a href="~/Home/NewsData" class="more">Read more</a></p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="row">
				<figure class="col-12 col-sm-5 col-md-4 col-lg-3">
					<a href="~/Home/NewsData" class="img-thumbnail"><img src="http://lorempixel.com/530/335/" alt=""></a>
				</figure>
				<div class="article-content col-12 col-sm-7 col-md-8 col-lg-9">
					<h2 class="h2"><a href="~/Home/NewsData">最新消息最新消息</a></h2>
					<p class="date"><i class="icon-calendar"></i> 2016-01-01</p>
					<p>最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息最新消息v</p>
					<p><a href="~/Home/NewsData" class="more">Read more</a></p>
				</div>
			</div>
		</article>

    </div>
	
</div></div>