
@{
    ViewBag.Title = "俯瞰桃園之美";
    ViewBag.BodyClass = "Overlook";
    ViewBag.MapCurrent = "all";
}

@Html.Partial("SidebarOverlook")

<div class="col-md-9 p-r-0">
    <nav class="arealist">
        @* 套程式-超連結 *@
        <a href="~/Home/OverlookMap?area_id=10" class="dayuan">大園區</a>
        <a href="~/Home/OverlookMap?area_id=8" class="luchu">蘆竹區</a>
        <a href="~/Home/OverlookMap?area_id=12" class="gueishan">龜山區</a>
        <a href="~/Home/OverlookMap?area_id=1" class="taoyuan">桃園區</a>
        <a href="~/Home/OverlookMap?area_id=9" class="bade">八德區</a>
        <a href="~/Home/OverlookMap?area_id=13" class="jungli">中壢區</a>
        <a href="~/Home/OverlookMap?area_id=3" class="guanyin">觀音區</a>
        <a href="~/Home/OverlookMap?area_id=5" class="shinwu">新屋區</a>
        <a href="~/Home/OverlookMap?area_id=4" class="yangmei">楊梅區</a>
        <a href="~/Home/OverlookMap?area_id=11" class="pingzhen">平鎮區</a>
        <a href="~/Home/OverlookMap?area_id=6" class="dashi">大溪區</a>
        <a href="~/Home/OverlookMap?area_id=2" class="longtan">龍潭區</a>
        <a href="~/Home/OverlookMap?area_id=7" class="fushing">復興區</a>
    </nav>
</div>