@{
    ViewBag.Title = "大地系列";
    ViewBag.Title2 = "系列產品";
    ViewBag.BodyClass = "Product";
    ViewBag.nav = "n3";
}

@section banner {
    <div id="banner">
        <div class="wrap">
            <h1 class="h1"><span><small>@ViewBag.Title2</small>@ViewBag.Title</span></h1>
        </div>
    </div>
}

<div id="content">
    <div class="wrap">

        <div class="product-sublist row">

            <div class="col-xs-4">
                <article class="article">
                    <a href="~/Home/ProductData" class="img-thumbnail">
                        <img src="http://lorempixel.com/530/335/" alt="">
                    </a>
                    <h2 class="h2">大地OA 1號</h2>
                    <p>本產品選用來自大海的鮮魚為主要原料，有機質含量高，除氮、磷、鉀等大量元素外…</p>
                    <a href="~/Home/ProductData" class="more">Read more</a>
                </article>
            </div>

            <div class="col-xs-4">
                <article class="article">
                    <a href="~/Home/ProductData" class="img-thumbnail">
                        <img src="http://lorempixel.com/530/335/" alt="">
                    </a>
                    <h2 class="h2">大地OA 900</h2>
                    <p>本產品選用來自大海的鮮魚為主要原料，有機質含量高，除氮、磷、鉀等大量元素外…</p>
                    <a href="~/Home/ProductData" class="more">Read more</a>
                </article>
            </div>

        </div>

    </div>
</div>