@using System.Data
@{
    ViewBag.Title = "大地系列";
    ViewBag.Title2 = "系列產品";
    ViewBag.BodyClass = "Product";
    ViewBag.nav = "n3";

    DataTable d_prod = (DataTable)ViewData["d_prod"];
    string prod_id = "";
    string prod_name = "";
    string prod_desc = "";
}

@section banner {
    <div id="banner">
        <div class="wrap">
            <h1 class="h1"><span><small>@ViewBag.Title2</small>@ViewBag.Title</span></h1>
        </div>
    </div>
}

<div id="content">
    <div class="wrap">
        @if(d_prod.Rows.Count > 0)
        {
            for(int i = 0; i < d_prod.Rows.Count; i++)
            {
                prod_id = d_prod.Rows[i]["prod_id"].ToString();
                prod_name = d_prod.Rows[i]["prod_name"].ToString();
                prod_desc = d_prod.Rows[i]["prod_desc"].ToString();

                if (i % 2 == 0)
                {
                    @:<div class="product-sublist row">
                }

                <div class="col-sm-6 col-md-4">
                    <article class="article">
                        <a href="~/Home/ProductData?prod_id=@prod_id" class="img-thumbnail">
                            <img src="http://lorempixel.com/530/335/" alt="">
                        </a>
                        <h2 class="h2 underline">@prod_name</h2>
                        <!--<p>@Html.Raw(prod_desc)</p>-->
                        <a href="~/Home/ProductData?prod_id=@prod_id" class="more">Read more</a>
                    </article>
                </div>

                if (i % 2 == 1)
                {
                    @:</div>
                }
            }

            if (d_prod.Rows.Count % 2 == 0)
            {
                @:</div>
            }
        }

    </div>
</div>