@{
    ViewBag.Title = "系列產品";
    ViewBag.BodyClass = "Product";
    ViewBag.nav = "n3";
}

@section banner {
	<div id="banner"><div class="wrap">
		<h1 class="h1"><span>@ViewBag.Title</span></h1>
	</div></div>
}

<div id="content"><div class="wrap">

    <div class="product-list row">

        <div class="col-xs-6">
            <article class="article">
                <h2 class="sr-only">大地系列</h2>
                <a href="~/ProductSublist">
                    <img src="~/Content/images/product/cat1.jpg" alt="">
                    <span>大地系列</span>
                </a>
            </article>
        </div>

        <div class="col-xs-6">
            <article class="article">
                <h2 class="sr-only">功能性系列</h2>
                <a href="~/ProductSublist">
                    <img src="~/Content/images/product/cat2.jpg" alt="">
                    <span>功能性系列</span>
                </a>
            </article>
        </div>

    </div>
	
</div></div>