
@{
    ViewBag.Title = "網站導覽";
    ViewBag.BodyClass = "Sitemap";
}

<section class="row row-x-0 sitemaplist">
    <nav class="col-sm-8">
        <h4>俯瞰桃園之美</h4>
        <a href="~/Home/OverlookArea">桃園全區</a>
        <a href="~/Home/OverlookMap?area_id=8">蘆竹區</a>
        <a href="~/Home/OverlookMap?area_id=10">大園區</a>
        <a href="~/Home/OverlookMap?area_id=3">觀音區</a>
        <a href="~/Home/OverlookMap?area_id=5">新屋區</a>
        <a href="~/Home/OverlookMap?area_id=2">龍潭區</a>
        <a href="~/Home/OverlookMap?area_id=9">八德區</a>
        <a href="~/Home/OverlookMap?area_id=1">桃園區</a>
        <a href="~/Home/OverlookMap?area_id=4">楊梅區</a>
        <a href="~/Home/OverlookMap?area_id=11">平鎮區</a>
        <a href="~/Home/OverlookMap?area_id=12">龜山區</a>
        <a href="~/Home/OverlookMap?area_id=6">大溪區</a>
        <a href="~/Home/OverlookMap?area_id=13">中壢區</a>
        <a href="~/Home/OverlookMap?area_id=7">復興區</a>
    </nav>
    <nav class="col-sm-4">
        <h4>關於本站</h4>
        <a href="~/Home/AboutUs">桃園新視界網站介紹</a>
    </nav>
</section>