@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "浙江省山核桃治理專案";
    ViewBag.Title2 = "海外實績";
}

<div class="witness-content">

    <div class="wrap">

        <div class="product-intro clearfix">

            <figure class="img-thumbnail">
                <img src="http://lorempixel.com/530/335/" alt="">
            </figure>

            <section class="product-info">
                <h2 class="h2">
                    @ViewBag.Title
                    <small>中國 蘇州</small>
                </h2>
                <p class="plant">
                    <span class="label">山核桃</span>
                    <span class="label">山核桃</span>
                </p>
                <dl>
                    <dt>使用期間</dt>
                    <dd class="clearfix">五個月</dd>
                    <dt>使用前</dt>
                    <dd class="clearfix">收成數量不滿意</dd>
                    <dt>使用後</dt>
                    <dd class="clearfix">提高產量,成長時間縮短,加強香菇顏色深度及Q度和香味、產量增加60%,香菇增大50%,增加太空包收成期40%</dd>
                </dl>
            </section>

        </div>
        @* product-intro *@

        <section class="product-detail">

            <ol class="gallery list-inline">@* 對照組的圖 *@
                <li>
                    <a class="img-thumbnail" href="http://lorempixel.com/530/335/" target="new">
                        <img src="http://lorempixel.com/530/335/" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-thumbnail" href="http://lorempixel.com/600/600/" target="new">
                        <img src="http://lorempixel.com/600/600/" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-thumbnail" href="http://lorempixel.com/500/800/" target="new">
                        <img src="http://lorempixel.com/500/800/" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-thumbnail" href="http://lorempixel.com/800/500/" target="new">
                        <img src="http://lorempixel.com/800/500/" alt="">
                    </a>
                </li>
            </ol>

            <div class="editor">

                <p>本產品選用來自大海的鮮魚為主要原料，有機質含量高，除氮、磷、鉀等大量元素外，尚包含作物生長所需之多種必要元素及胺基酸，並有完整促進作物快速營養生長之獨特完全營養配方，美國特殊配方土壤調理劑等，能在極短時間內將養分迅速轉化成容易被吸收的型態。產品中含有腐植酸、多種氨基酸及作物生長所需之多種營養元素，長期使用可減少肥料之施用量。</p>
                
            </div>@* editor *@
            
        </section>
        @* product-detail *@

    </div>@* wrap *@


    <section class="product-application"><div class="wrap">

        <h2 class="h2">所使用之肥料</h2>

        <div class="row row-center">
            <div class="col-xs-4">
                <article class="img-thumbnail">
                    <img src="http://lorempixel.com/800/500/" alt="">
                    <div class="article-content">
                        <h3 class="h3">產品名稱</h3>
                        <p>產品介紹</p>
                        <a href="~/Home/WitnessData" class="more">View Detail</a>
                    </div>
                </article>
            </div>
            <div class="col-xs-4">
                <article class="img-thumbnail">
                    <img src="http://lorempixel.com/500/800/" alt="">
                    <div class="article-content">
                        <h3 class="h3">大地OA 1號</h3>
                        <p>本產品選用來自大海的鮮魚為主要原料，有機質含量高，除氮、磷、鉀等大量元素外…</p>
                        <a href="~/Home/WitnessData" class="more">View Detail</a>
                    </div>
                </article>
            </div>
        </div>

    </div></section>
    @* product-application *@

</div>